  /* IMPORTACIÓN TIPOGRAFÍA MONSERRAT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

/* VARIABLES GENERALES */
:root {

  /* VARIABLES GENERALES DE PALETA E COLORES DE UABC */
  --green-uabc: #048c3a;
  --yellow-uabc: #ffb502;
  --purple-uabc: #9b4ead;
  --pink-uabc: #cc3366;
  /* ESCALA DE VERDES */
  --green-100: #048c3a;
  --green-75: #3f956f;
  --gren-50: #7fbaa1;
  --green-25: #c0dbce;
  /* ESCALA DE AMARILLOS */
  --yellow-100: #ffb502;
  --yellow-75: #ffb502;
  --yellow-50: #fedf88;
  --yellow-25: #ffedc3;
  /* ESCALA DE GRISES */
  --Black-100: #000000;
  --Black-Text: #ffedc3;
  --Grey-1: #222222;
  --Grey-2: #212529;
  --GreyLight: #565a5c;
  --BG-Inputs: #e9eff2;
  --color-white: #fff
  /* VARIABLES PARA LAS LETRAS */
  --fontMons: "Montserrat", sans-serif;
}
/* ESTILOS GENERALES */
body {
  margin: 0;
  padding: auto;
  font-family: var(--fontMons);
  background-color: var(--BG-Inputs);
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: white;
  line-height: 52px;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: var(--Black-100);
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: var(--Black-100);
}
h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
}
ul  li a{
  color: red;
}
.text_buttons {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.btn_amarillo{
  border-radius: 2px;
  background-color: var(--yellow-100);
}
.body_large {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}
.body-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.span-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.navbar {
  background-color: white;
  
}
.nav-link{
  color: var(--Black-100);
}
.nav-link:hover{
  color: var(--green-100);
}
.bg-header{
  background-color: var(--green-100);
  width: 100%;
  height: 90vh;
  padding: 6rem 6rem;
}
.btn{
  font-weight: 600;
}
.btn_primary, .btn_primary:hover{
  background-color: var(--green-100);
}
.btn_secondary, .btn_secondary:hover{
  background-color: var(--green-25);
}
.btn_secondary_outline, .btn_secondary_outline:hover{
  border:solid 1px var(--yellow-100);
  color: var(--yellow-100);
  font-weight: 800;
}
.second img{
  width: 10rem;
}