.bodi{
    background-color: #E5E5E5;
}

.contenedor1{
    background-color: white;
    margin: 8px;
}

.botones{
    text-align:end;
}

.contenedor2{
    background-color: white;
    margin: 8px;
}

.contenedor3{
    background-color: white;
    margin: 8px;
}