.formulario{
    text-align: center;
   /*  margin-top: 59px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 59px; */
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    /* width:64rem;
    height: 35rem; */
}

.titulo{
    text-align: center;
    color: black;
}


.aviso{
    font-size: small;
    color: white;
}

.bodi{
    background-color: #E5E5E5;
}

.nab{
    background-color: white;
    color: black;
}

.secon{
    margin-top: 10rem;
}