.navs{
    background-color: white;
    color: #18191F;
}

.title{
    color: #048C3A;
}

.btn1{
    background-color: #00723F;
    color: white;
}

.btn2{
    background-color: #cae7da;
    color: 00723F;
}